@import './styles/variables.css';

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  color: var(--color-text-main);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
